@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto";
  font-size: 16px;
  @apply bg-eerie;
}

/*Slick slider modifications*/
.slick-slider {
  @apply h-full;
}

.slick-track, .slick-list {
  @apply h-full;
}

.slick-slide, .slick-slide > div  {
  @apply h-full !important;
}

.slick-slide > div > div {
  @apply bg-cover bg-no-repeat !important;
}

.slick-arrow.slick-next{
  right: 25px;
}

.slick-arrow.slick-prev{
  display: none;
}

.slick-dots{
  bottom: 25px !important;
}

.banner .slick-slide > div > div{
  display: flex !important;
}

.card:not(.large) .slick-slide  {
  @apply pr-4 !important;
}

/*Move out of the hidden space for slider since we are using 3.2*/
.card.large .slick-slide[data-index='0'] .card-details  {
  @apply pl-14;
}
